<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231741212968-3v6v2aitat5mpalgdpbep4l1qr9n7tfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231741212968-3v6v2aitat5mpalgdpbep4l1qr9n7tfr</string>
	<key>API_KEY</key>
	<string>AIzaSyBeocaSnqPseuEmQw4gKbyO2KGJwC6482A</string>
	<key>GCM_SENDER_ID</key>
	<string>231741212968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simonSaysHope</string>
	<key>PROJECT_ID</key>
	<string>simon-says-hope</string>
	<key>STORAGE_BUCKET</key>
	<string>simon-says-hope.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231741212968:ios:0b9ac6cf8f2c955042281d</string>
</dict>
</plist>